*{
    margin: 0;
    padding: 0;
}

h1{
    padding-top: 16px;
}

h1, p, span{
    color: #FFF;
}

.md-button p{
    color: #2a2a2a;
}

.md-button span{
    color: #2a2a2a;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #7f8c8d;
}

#header{
    width: 100%;
    height: 96px;
    margin: 0 auto;
    text-align: center;
}

#main{
    width: 720px;
    height: 480px;
    margin: 0 auto;

    background-color: #34495e;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

#board{
    width: 100%;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#dealerRow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#playerRow{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-actions {
    width: 720px;
    height: 64px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #34495e;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

#info{
    width: 100%;
    height: 72px;
    color: #FFF;
    background-color: #303F9F;
}

.info-item{
    margin-top: 18px;
    margin-left: 12px;
}

.card-container{
    display: flex;
    flex-direction: row;
}

.card{
    height: 128px;
    width: auto;
}

.offset{
    margin-left: -60px !important;
}

#dimmer{
    background:#ff0000; /*alternatives: #ff1a1a #ff0000*/
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999; /* could remove, but it's fine */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* I'm sorry */
#WOWDOGE{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('https://media.giphy.com/media/HCTfYH2Xk5yw/giphy.gif');
    background-size: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
/* Animations
.card.ng-enter{
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}
.card.ng-enter.ng-enter-active {
    opacity:1;
}*/
