<html>
    <head>
        <link href="/assets/css/Blackjack.css" rel="stylesheet">
        <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.css" rel="stylesheet">
        <script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.5.0-rc.2/angular-animate.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.5.0-rc.2/angular-aria.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
        <script type="text/javascript" src="/assets/js/BlackjackController.js"></script>
    </head>

    <body ng-app="Blackjack" ng-controller="BlackjackController">
        <div class="wrapper">
            <div>
                <div id="header">
                    <h1 class="md-display-3">
                        Blackjack
                    </h1>
                </div>
                <div id="main">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                                    <span>
                                        Money: $<!--wat-->{{gameState.player.money}} - Bet: $<!--wat-->{{gameState.current_bet}} - Pot Value: wat
                                    </span>
                            <span flex></span>
                            <md-button ng-click="newGame()" class="md-raised md-accent">
                                NEW GAME
                            </md-button>
                        </div>
                    </md-toolbar>
                    <div id="board">
                        <div id="dealerRow">
                            <h1>Dealer</h1>
                            <div class="card-container">
                                <img ng-repeat="card in gameState.dealer.hand" ng-src="/assets/img/{{card.type}}_of_{{card.suit}}.png" class="card">
                            </div>
                        </div>
                        <div id="playerRow">
                            <h1>You</h1>
                            <div class="card-container">
                                <div>
                                    <p>{{userMessage}}</p>
                                    <md-button ng-if="userMessage.length > 0 && $scope.gameState.round_winner != 2" ng-click="newRound()">Continue</md-button>
                                </div>
                                <div style="margin: 0 4px; display: inline-block">
                                    <img ng-repeat="card in gameState.player.hand" ng-src="/assets/img/{{card.type}}_of_{{card.suit}}.png" class="card">
                                </div>
                                <div style="margin: 0 4px; display: inline-block">
                                    <img ng-repeat="card in gameState.playerSplit.hand" ng-src="/assets/img/{{card.type}}_of_{{card.suit}}.png" class="card">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-actions">
                    <md-button ng-click="raise()" class="md-primary md-raised">Bet</md-button>
                    <md-button ng-click="hit()" class="md-primary md-raised">Hit</md-button>
                    <md-button ng-if="gameState.playerSplit.hand.length > 0" ng-click="hitSplit()" class="md-primary md-raised">Hit 2</md-button>
                    <md-button ng-click="dealerTurn()" class="md-primary md-raised">Stay</md-button>
                    <md-button ng-click="doubleDown()" class="md-primary md-raised">Double Down</md-button>
                    <md-button ng-click="split()" class="md-primary md-raised">Split</md-button>
                </div>
            </div>
        </div>

        <!-- On error -->
        <div id="dimmer" ng-show="invalidMove == true">
            <p>Invalid Move!</p>
        </div>
    </body>
</html>
